<template>
  <require from="../../assets/styles/main.css"></require>



  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2020-2021 Hahn-Softwareentwicklung</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" t="Layout.Footer.Privacy"></a></li>
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" t="Layout.Footer.Terms"></a></li>
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" t="Layout.Footer.Support"></a></li>
    </ul>
  </footer>
</template>
