<template>
  <require from="../../assets/styles/main.css"></require>



  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2018 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">Privacy</a></li>
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">Terms</a></li>
      <li class="list-inline-item"><a href="#" class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">Support</a></li>
    </ul>
  </footer>
</template>
