<template>
  <br />
  <br />
  <br />
  <h1 t="title"></h1>

  <div class="auth-page">
    <div class="container page">
      <div class="row">

        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Add Applicant</h1>
         
          <ul class="error-messages" if.bind="controller.errors">
            <li repeat.for="error of controller.errors">
              ${error.message}
            </li>
          </ul>


          <form>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Name" value.bind="name & validate">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Family Name" value.bind="familyName & validate">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Address" value.bind="address & validate">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="country Of Origin" value.bind="countryOfOrigin & validate">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Email" value.bind="email & validate">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Age" value.bind="age & validate">
            </fieldset>
            

            <fieldset class="form-group form-check">
              <input type="checkbox" class="form-check-input" checked.bind="hired">
              <label class="form-check-label" for="exampleCheck1">Hired</label>
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" click.trigger="submit()" disabled.bind="!canSave">
              Send
            </button>
            <button class="btn btn-lg btn-primary pull-xs-right" type="reset" disabled.bind="!canReset">
              Reset
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>
